@import url('reset.css');

@font-face {
    font-family: 'GmarketSans';
    src: url('../font/GmarketSansMedium.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'GmarketSans';
    src :url('../font/GmarketSansBold.woff') format('woff');
    font-weight: 700;
}
.gsans {font-family: 'GmarketSans';}


* {box-sizing:border-box; word-break: keep-all;}
html { background:#060d17; font-size:10px; color:#fff;}

header {position:relative; z-index:10; width:100%; text-align:center; }
header.sub {position:absolute; left:0; top:0; width:100%;}
.header {margin:5rem 0 3rem;}

.logo {padding-bottom:3rem; border-bottom:1px solid rgba(255,255,255,.1); font-weight:bold; font-size:3rem;}
footer {width:100%; margin:12rem 0 5rem; }
.footer {padding:5rem 0 0;border-top:1px solid rgba(255,255,255,.1); text-align:center; font-size:1.5rem;font-family: 'GmarketSans'; color:#4c5a67;}
.layout {width:100%; max-width:1240px; margin:0 auto;}
.detailTit {margin:0 0 1rem; font-size:2.2rem; font-weight:bold; color:#4c5a67;}

.movie {
    display:flex; flex-wrap: wrap; margin:3rem -1rem 5rem; 
    .movie-list {position:relative; width:calc(20% - 2rem); margin:0 1rem 2rem;}
    .movie-list a {display:block; width:100%;}
    .movie-list .thumb {width:100%;}
    .movie-list img {width:100%;}
    .movie-list .ov {opacity:0; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7);transition:all 0.3s; -webkit-transition:all 0.3s;}
    .movie-list .ov span {opacity:0; display:inline-block; position:absolute; z-index:1; left:50%; top:50%; width:70%; padding:0.8rem 0; border-radius: 5px; border:1px solid #fff; font-size:1.5rem; color:#fff; text-align:center; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
    .movie-list a:hover .ov,
    .movie-list a:focus .ov,
    .movie-list a:hover .ov span,
    .movie-list a:focus .ov span {opacity: 1; }

}

.btnBox {margin:7rem 0 5rem; text-align:center;
    a,
    button {display:inline-block; min-width:150px; margin:0.2rem; padding:1rem; border:1px solid #8a8d98;  border-radius: 5px; background:transparent; color:#8a8d98; text-align: center;  font-size:1.8rem; font-weight:bold; transition:all 0.3s; -webkit-transition:all 0.3s; }
    a:hover,
    a:focus,
    button:hover,
    button:focus {background:#8a8d98; color:#060d17;}
}

.tabBtn { text-align:right;
    button {display:inline-block;  border:none; background:none; color:#8a8d98;  }
    button span {display:inline-block;position:relative;font-size:1.8rem;  transition:all 0.3s; -webkit-transition:all 0.3s;}
    button span:after {display:block; position:absolute; left:50%; bottom:-1px; width:0; height:3px; background:#8a8d98; content:''; transition:all 0.3s; -webkit-transition:all 0.3s;}
    button.active {font-weight:700; }
    button.active span:after {left:0;width:100%;}
    button:last-child:before {display:inline-block; content: ''; width:1px; height:10px; margin:0 1rem;background:#8a8d98;}
}

// 디테일 상세정보 
.detail-topImg {position:relative; width:100%; height:400px; background-size:cover; background-position:center 20%; background-repeat:no-repeat;} 
.detail-topImg:before {display:block;position:absolute;left:0;bottom:0;content:''; width:100%; height:100%; background: linear-gradient(to bottom, transparent, #060d17);}
.detail-topImg:after {display:block;position:absolute;left:0;top:0;content:''; width:100%; height:12rem; background: linear-gradient(to bottom, #060d17, transparent);}
.detail-infoBox { display:flex; padding:6rem 0;
    .detail-infoBox-img {width:300px;}
    .detail-infoBox-text {width:calc(100% - 300px); padding:5rem; color:#fff;}
    .detail-infoBox-text .tit {margin:0 0 1rem; font-size:4rem; font-weight:bold;}
    .detail-infoBox-text .info {font-size:2rem;}
    .detail-infoBox-text .info span {display:inline-block;}
    .detail-infoBox-text .info span:not(:last-child):after {display:inline-block; width:3px; height:3px; margin:-0.3rem 1rem 0;border-radius:50%; background:#fff; vertical-align: middle; content:'';}
    .detail-infoBox-text .info span em {display:inline-block;}
    .detail-infoBox-text .info span em:not(:last-child):after{display:inline-block; content:"/"}
    .detail-infoBox-text strong {display:block; margin:4rem 0 1rem; font-size:1.8rem; opacity:0.5;}
    .detail-infoBox-text p {font-size:1.8rem; opacity:0.5;}
}

//디테일 출연진 
.people {display:flex; flex-wrap:wrap; margin:0 -1rem 5rem;
    .people-list {width:calc(10% - 2rem); margin:0 1rem 2rem; color:#fff; font-size:1.5rem; text-align:center;}
    .people-list .thumb {width:100%; margin:0 0 1rem;}
    .people-list .thumb img {width:100%;}
    .people-list strong {display:block; font-weight:bold;}
}

/* 디테일 비디오 */
.video {display:flex; flex-wrap:wrap; margin:0 -1rem 6rem;
    .video-list {width:calc(50% - 2rem); height:300px; margin:0 1rem 2rem;}
    .video-list iframe {width:100%; height:100%;}
}

/* 디테일 추천리스트  */
.recommend {position:relative; margin:0 0 6rem;
    .recommend-list .slick-arrow {z-index:10; top:38%; width:3rem; height:3rem; border:solid #4c5a67; transform:rotate(45deg); -webkit-transform:rotate(45deg);}
    .recommend-list .slick-arrow::before {display:none;}
    .recommend-list .slick-arrow.slick-prev {left:-35px; border-width:0 0 5px 5px;}
    .recommend-list .slick-arrow.slick-next {right:-35px; border-width:5px 5px 0 0;}
    .recommend-list .slick-list { margin:0 -1rem; }
    .recommend-list .item {position:relative; padding:0 1rem; }
    .recommend-list .item a,
    .recommend-list .item button {display: block; width:100%; }
    .recommend-list .item img {width:100%;}
    .recommend-list .ov {opacity:0; position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7);transition:all 0.3s; -webkit-transition:all 0.3s;}
    .recommend-list .ov span {opacity:0; display:inline-block; position:absolute; z-index:1; left:50%; top:50%; width:70%; padding:0.8rem 0; border-radius: 5px; border:1px solid #fff; font-size:1.5rem; color:#fff; text-align:center; transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); }
    .recommend-list a:hover .ov,
    .recommend-list a:focus .ov,
    .recommend-list a:hover .ov span,
    .recommend-list a:focus .ov span {opacity: 1; }
}